{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
<div class="container">
    <h1>Addresses</h1>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Complement</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Postal</th>
                <th>Pays</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.fullname }}</td>
                <td>{{ address.Complement }}</td>
                <td>{{ address.adresse }}</td>
                <td>{{ address.ville }}</td>
                <td>{{ address.postal }}</td>
                <td>{{ address.pays }}</td>
                <td>{{ address.telephone }}</td>
                <td>
                    <a href="{{ path('app_address_show', {'id': address.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_address_edit', {'id': address.id}) }}"><i class="fa-solid fa-pencil ms-3"></i></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'adresses</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_address_new') }}">Creer une adresse</a>
    <a class="ms-5"href="{{ path('app_compte') }}">Retour page compte</a>
    </div>
{% endblock %}
