{% extends 'base.html.twig' %}

{% block title %}Address
{% endblock %}

{% block body %}
<div class="container">
	<h1>Address</h1>
	<table class="table table-hover table-striped">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ address.id }}</td>
			</tr>
			<tr>
				<th>Full_name</th>
				<td>{{ address.fullName }}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{ address.adresse }}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>{{ address.telephone }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ address.ville }}</td>
			</tr>
			<tr>
				<th>Postal</th>
				<td>{{ address.postal }}</td>
			</tr>
			<tr>
				<th>Pays</th>
				<td>{{ address.pays }}</td>
			</tr>
			<tr>
				<th>Address_complement</th>
				<td>{{ address.complement }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-outline-success" href="{{ path('app_compte') }}">Retour page compte</a>

	<a class="ms-5 btn btn-outline-warning" href="{{ path('app_address_edit', {'id': address.id}) }}">Modifier</a>

	{{ include('address/_delete_form.html.twig') }}
    </div>
{% endblock %}
